<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Jaden's Forum</title>
  <link rel="stylesheet" href="/css/jaden-forum.css">
</head>
<body>

	<header>
		<div class="row">
			<a href="/">JadenForum</a>
		</div>
	</header>

	<%= yield %>
  
</body>
</html>
